@{
    ViewData["Title"] = "Connexion";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue chez AutoRapide</h1>

    <p>Première visite? <a asp-controller="Usagers" asp-action="Create">Veuillez-vous inscrire!</a></p>
</div>
