@model ErrorViewModel
@{
    ViewData["Title"] = "Erreur";
}

<h1 class="text-danger">Erreur</h1>
<h2 class="text-danger">Une erreur est survenue lors du traitement de votre requête.</h2>

<div>
@if (Model?.ShowRequestId ?? false)
{
    <p>
        <strong>ID Requête:</strong> <code>@Model?.RequestId</code>
    </p>
}

@if (ViewBag.MessageErreur != null)
{
    <p>
        <strong>Message :</strong>
        <div>
            @ViewBag.MessageErreur
        </div>
    </p>
}
</div>
