<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azfunc123-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b38a8d10-f886-4c3e-8d75-0d61730b1823/resourceGroups/autorapide-rg/providers/Microsoft.Web/sites/azfunc123-app</ResourceId>
    <UserName>$azfunc123-app</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azfunc123-app.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>